<!DOCTYPE html>
<html lang="en">

<head>
  <title>ERROR</title>
</head>

<body>
  <h2><%= errCode %>ERROR</h2>
  <h3><%= errMsg %></h3>
  <hr>
  <h2><a href="/">Back to Home page</a></h2>
</body>

</html>
