<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
  <title>TinyApp</title>
</head>
<body>
      Short URL: <%= shortURL %>  <br />
      <% action = "/urls/"+shortURL %>        
      <form method="POST" action="<%= action %>">
        <input type="text" name="newLong" placeholder="<%= longURL[shortURL]%>" value="" />
        <button type="submit">Update</button>
      </form>
</body>
</html>