<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/_header %>
  <title>TinyApp</title>
</head>

<body>
  <% if (userID) { %>
  <form action="/urls" method="POST">
    <label for="longURL">Long URL</label>
    <input id="longURL" type="url" name="longURL" placeholder="enter long URL">
    <input type="submit" value="Shorten">
  </form>
  <% } else { %>
  <hr>
  <h2>Error 401</h2>
  <h3>Please register or login first.</h3>
  <% } %>
</body>

</html>